---
import { Icon } from 'astro-icon/components'

const { socialUrl=false, socialType } = Astro.props;
---
{socialUrl &&
    <li>
        <a href={socialUrl} target="_blank" aria-label={socialType + "link"}>
            <Icon name={socialType} class="w-auto h-[20px] transition-all duration-300 text-pacamara-dark hover:text-pacamara-dark dark:text-white dark:hover:text-white" />
        </a>
    </li>
}