---
import { ViewTransitions } from 'astro:transitions';
import SeoHead from "../components/general/SeoHead.astro"
import Header from "../components/general/Header.astro"
import Footer from "../components/general/Footer.astro"
import Analytics from '@vercel/analytics/astro'

import '../css/style.css';

const { postData } = Astro.props;

const url = Astro.url.origin;
const realUrl = `https://ciog.dev${Astro.url.pathname}`;
const isDev = url.includes('localhost');
---
<!doctype html>
<html lang="es-mx">

<head>
    <script is:inline>
        const setDarkMode = () => {
            if (localStorage.darkMode === 'true' || (!('darkMode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark')
                localStorage.darkMode = 'true';
            } else {
                document.documentElement.classList.remove('dark')
                localStorage.darkMode = 'false';
            }
        }

        setDarkMode();
        // Runs on view transitions navigation
        document.addEventListener('astro:after-swap', setDarkMode);
    </script>

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />
    <SeoHead postData={postData} />
    <meta name="robots" content="index, follow">
    <link rel="canonical" href={realUrl}/>
    <link rel="preload" href="/fonts/inter-v12-latin_latin-ext-regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/inter-v12-latin_latin-ext-700.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/space-grotesk-v15-latin_latin-ext-regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/space-grotesk-v15-latin_latin-ext-600.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/space-grotesk-v15-latin_latin-ext-700.woff2" as="font" crossorigin>


    <ViewTransitions />
    <!-- favicon -->
    <link rel="icon" href="https://res.cloudinary.com/dx7uimym1/image/upload/v1721085107/CIOG/Favicon.png" />
    <!-- si es dev -->

    <!-- PWA -->
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="./rss.xml" />
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#000e14">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="CIOG">
    <script src="/main.js" defer></script>
    <!-- PWA -->
    

    {!isDev && 
        // <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-G3DH2S12MJ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-G3DH2S12MJ');
        </script>
        <Analytics/>
    }

</head>

<body class="font-pacamara-inter transition-all duration-300 bg-white dark:bg-pacamara-dark">
    <Header />
    <slot />

    <Footer />
</body>
</html>